:host {
  .forgot-password-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;

    .forgot-password-form {
      display: flex;
      flex-direction: column;
      align-self: stretch;
      align-items: stretch;

      .link {
        align-self: center;
        margin-top: 8px;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  /* For mobile phones: */
  :host,
  :host > .forgot-password-wrapper {
    width: 100%;
  }
}
