<div class="forgot-password-wrapper">
  <h3>Forgot Password?</h3>
  <p>
    Please submit your email. <br />We will send you a reset password link to
    your email.
  </p>
  <form
    class="forgot-password-form"
    [formGroup]="forgotPasswordForm"
    (ngSubmit)="onForgotPasswordSubmit()"
  >
    <mat-form-field appearance="standard">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" />
      <mat-error *ngIf="checkFieldValidity('email')">{{
        getFieldInvalidMessage("email")
      }}</mat-error>
      <a
        *ngIf="forgotPasswordForm.value.email"
        tabindex="-1"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="onClearClick('email')"
      >
        <mat-icon>close</mat-icon>
      </a>
    </mat-form-field>
    <button
      *ngIf="!isSubmitLoading"
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="!forgotPasswordForm.valid"
    >
      Send Email
    </button>
    <mat-spinner
      *ngIf="isSubmitLoading"
      diameter="20"
      style="align-self: center"
    ></mat-spinner>
    <a class="link" href="" (click)="onGoBackClick($event)">Go Back</a>
  </form>
</div>
